.root {
    -fx-background-image: url("gameGraphics/misc/sfondo_parquet.jpg") no-repeat center center fixed;
    -fx-background-size: cover;
}

#vbox {
    -fx-alignment: center;
    -fx-fill-height: 100%;
    -fx-fill-width: 100%;
    -fx-max-height: -Infinity;
    -fx-max-width: -Infinity;
    -fx-min-height: -Infinity;
    -fx-min-width: -Infinity;
}