.root {
    -fx-background-image: url("gameGraphics/misc/sfondo_parquet.jpg") no-repeat center center fixed;
    -fx-background-size: cover;
}

#vbox {
    -fx-alignment: center;
}

.validTile{
    -fx-opacity: 1;
}

.inValidTile {
    -fx-opacity: 0.6;
}